.wrapper {
  height: 200vh;
  display: flex;
  /* Main Axis */
  justify-content: space-around;
  /* justify-content: baseline; */
  /* justify-content: center; */
  /* justify-content: end; */
  /* justify-content: first baseline; */
  /* justify-content: flex-end; */
  /* justify-content: flex-start; */
  /* justify-content: last baseline; */
  /* justify-content: left; */
  /* justify-content: right; */
  /* justify-content: safe; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: start; */
  /* justify-content: stretch; */
  /* justify-content: unsafe; */
  /* justify-content: inherit; */
  /* justify-content: initial; */
  /* justify-content: unset; */

  /* Cross Axis */
  align-items: center;
  /* align-items: baseline; */
  /* align-items: flex-end; */
  /* align-items: flex-start; */
  /* align-items: stretch; */
  /* align-items: inherit; */
  /* align-items: initial; */
  /* align-items: unset; */
}
.box {
  width: 100px;
  height: 100px;
  background: peru;
  color: white;
}
