.grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  gap: 10px;
}

.header {
  background-color: darkmagenta;
  grid-column: span 4;
}
.content {
  background-color: chocolate;
  grid-column: span 3;
  grid-row: span 2;
}
.nav {
  background-color: crimson;
  grid-row: span 2;
}
.footer {
  background-color: cornflowerblue;
  grid-column: span 4;
}
