.grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  gap: 10px;
}

.header {
  background-color: darkmagenta;
  grid-column: 1/-1;
}
.content {
  background-color: chocolate;
  grid-column: 1/-2;
  grid-row: 2/-2;
}
.nav {
  background-color: crimson;
  grid-row: 2/-1;
}
.footer {
  background-color: cornflowerblue;
  grid-column: 1/-1;
}
