.father {
  font-size: 30px;
  height: 200vh;
  /* flex-direction: row-reverse; */
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.child {
  width: 250px;
  height: 100px;
  background: peru;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
  background: blueviolet;
  flex-grow: 0.1;
}
.child:nth-child(3) {
  flex-shrink: 2;
}
